.logo,

a.logo {
    font-size: 24px;
    line-height: 1;
    color: #000;
    font-weight: 500;
    font-family: var(--font-accent);

    @include mobile {
        font-size: 16px;
    }

    span {
        color: #6c7275;
    }

    &--small {

        font-size: 16px;

    }
}