.nav {
    padding: 16px 0;
    background-color: #ffc95c;
}


.nav__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    gap: 4px;
    align-items: center;
}

.nav__btn-mobile-nav {
    display: none;

    @include mobile {
        display: block;
    }
}


.nav__list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav__link {
    display: flex;
    align-items: center;
    gap: 2px;
    color: #141718;
}
.nav__btns {
    display: flex;
    align-items: center;
    gap: 17px;
}

.nav__btn {
    display: flex;
    align-items: center;
    gap: 5px;
}

@include mobile {
    .nav__btn--search, .nav__btn--user, .nav__list {
        display: none;
     }
}





.nav__btn-count {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #141718;
    font-size: 12px;
    font-weight: 700;
    color: var(--tagline-link);
    text-align: center;
    line-height: 20px;

    &--white {
        color: #fff;
    }
}