.newsletter {
 display: flex;
 justify-content: center;
 padding-top: 100px;
 height: 360px;
 background-color: #e2e4e3;
 background-image: url('./../img/newsletter/bg.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center center;

 @include mediaBg {
    background-image: url('./../img/newsletter/bg@2x.jpg');
 }

  @include tablet {
    background-image: none;
  }

  @include  mobile {
    height:  auto;
    padding: 95px 0;
  }
}

.newsletter__content {
flex-grow: 1;
max-width: 552px;
text-align: center;
padding: 0 var(--container-padding);

}

.newsletter__title {
    margin-bottom: 8px;
    font-size: 28px I !important;
}

.newsletter__desc {
    font-size: 18px;
    line-height: 1.6;
    color: #121212;
    margin-bottom: 32px;

    @include mobile {
        font-size: 14px;
    }
}

.form-newsletter {
    display: flex;
    gap: 8px;
    padding-bottom: 12px;
    border-bottom:  1px solid rgba(100, 114, 117, 0.5);
}

.form-newsletter__input {
    flex-grow: 1;
    color: #000;
    
    &::placeholder {
        color: #6c7275;
    }
}

.form-newsletter__submit {
    color: #6c7275;
    transition: all 0.2s ease-in;

    &:hover {
        color: #121212;
    }
}